
            body {
                margin: 0;
                padding: 0;
                font-family: Arial, sans-serif;
                background-color: #f4f4f4; /* Light background for contrast */
                overflow-x: hidden; /* Prevent horizontal scroll */
            }

            .back-arrow {
                position: fixed;
                top: 20px;
                left: 20px;
                text-decoration: none;
                font-size: 2.2rem;
                font-weight: bold;
                color: rgba(255, 255, 255, 1);
                background-color: rgba(0, 0, 0, 1);
                padding: 0.3rem 1rem;
                border-radius: 0.5rem;
                z-index: 10;
                transition: background-color 0.3s ease;
            }

            .back-arrow:hover {
                background-color: rgba(0, 0, 0, 0.5);
                color: rgba(255, 255, 255, 0.75)
            }

            .flexed {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin: 0 20px;
                padding-top: 80px; /* Space for back arrow */
                min-height: 100vh;
            }

            .flexed li {
                display: flex;
                width: 100%;
                max-width: 1200px;
            }

            .flexed img {
                position: fixed;
                top: 0;
                left: 0;
                width: 40%;
                height: 80vh;
                object-fit: cover;
                z-index: 1;
                margin-top: 5.5rem;
                padding-left: 3rem;
                justify-content: center;
            }

            .content {
                flex: 1;
                padding-left: 50%;
                padding-right: 20px;
                padding-top: 80px; /* Space for back arrow */
                /* height: 100vh; */
                overflow-y: auto;
                box-sizing: border-box;
                z-index: 2;
                position: relative;
            }

            .content h1 {
                font-size: 4em;
                margin-bottom: 20px;
                color: #333;
            }

            .content p {
                font-size: 1.2em;
                line-height: 1.6;
                margin-bottom: 20px;
                text-align: justify;
                color: #555;
            }

    /* Tablet styles (max-width: 768px) */
    @media (max-width: 768px) {
        .flexed {
            margin: 0 10px;
            padding-top: 70px;
            flex-direction: column;
        }

        .flexed li {
            flex-direction: column;
        }

        .flexed img {
            width: 80%;
            height: 50vh;
            position: relative; /* Change to relative for stacking on tablets */
            top: auto;
            left: auto;
            margin: 0 auto; /* Center the image horizontally */
            padding: 0 10px; /* Add padding on both sides */
            margin-bottom: 10px;
        }

        .content {
            padding-left: 3.5rem;
            padding-top: 10px;
            height: auto;
            overflow-y: visible;
            width: 90%;
            justify-content: center;
        }

        .content h1 {
            font-size: 2.5em;
            margin-bottom: 15px;
            align-items: center;
            text-align: justify;
        }

        .content p {
            font-size: 1em;
            margin-bottom: 15px;
            text-align: justify;
        }

        .back-arrow {
            font-size: 1.8rem;
            padding: 0.2rem 0.8rem;
            top: 15px;
            left: 15px;
        }
    }

        @media (max-width: 680px) {
        .flexed {
            margin: 0 10px;
            padding-top: 70px;
            flex-direction: column;
        }

        .flexed li {
            flex-direction: column;
        }

        .flexed img {
            width: 80%;
            height: 50vh;
            position: relative; /* Change to relative for stacking on tablets */
            top: auto;
            left: auto;
            margin: 0 auto; /* Center the image horizontally */
            padding: 0 10px; /* Add padding on both sides */
            margin-bottom: 10px;
        }

        .content {
            padding-left: 3.5rem;
            padding-top: 10px;
            height: auto;
            overflow-y: visible;
            width: 90%;
            justify-content: center;
        }

        .content h1 {
            font-size: 2.5em;
            margin-bottom: 15px;
            align-items: center;
            text-align: justify;
        }

        .content p {
            font-size: 1em;
            margin-bottom: 15px;
            text-align: justify;
        }

        .back-arrow {
            font-size: 1.8rem;
            padding: 0.2rem 0.8rem;
            top: 15px;
            left: 15px;
        }
    }

        @media (max-width: 480px) {
        .flexed {
            margin: 0 10px;
            padding-top: 70px;
            flex-direction: column;
            padding-left: 5px;
            padding-right: 5px;
        }

        .flexed li {
            flex-direction: column;
        }

        .flexed img {
            width: 80%;
            height: 35vh;
            position: relative; /* Change to relative for stacking on tablets */
            top: auto;
            left: auto;
            margin: 0 auto; /* Center the image horizontally */
            padding: 0 10px; /* Add padding on both sides */
            margin-bottom: 10px;
        }

        .content {
            padding-left: 3.5rem;
            padding-top: 10px;
            height: auto;
            overflow-y: visible;
            width: 90%;
            justify-content: center;
        }

        .content h1 {
            font-size: 2em;
            margin-bottom: 15px;
            align-items: center;
            text-align: justify;
        }

        .content p {
            font-size: 1em;
            margin-bottom: 15px;
            text-align: justify;
        }

        .back-arrow {
            font-size: 1.8rem;
            padding: 0.2rem 0.8rem;
            top: 15px;
            left: 15px;
        }
    }

        @media (max-width: 300px) {
        .flexed {
            margin: 0 10px;
            padding-top: 70px;
            flex-direction: column;
        }

        .flexed li {
            flex-direction: column;
        }

        .flexed img {
            width: 80%;
            height: 40vh;
            position: relative; /* Change to relative for stacking on tablets */
            top: auto;
            left: auto;
            margin: 0 auto; /* Center the image horizontally */
            padding: 0 5px; /* Add padding on both sides */
            margin-bottom: 10px;
        }

        .content {
            padding-left: 1.5rem;
            padding-top: 10px;
            height: auto;
            overflow-y: visible;
            width: 90%;
            justify-content: center;
        }

        .content h1 {
            font-size: 1.75em;
            margin-bottom: 15px;
            align-items: center;
            text-align: justify;
        }

        .content p {
            font-size: 1em;
            margin-bottom: 15px;
            text-align: justify;
        }

        .back-arrow {
            font-size: 1.8rem;
            padding: 0.2rem 0.8rem;
            top: 15px;
            left: 15px;
        }
    }